@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.reg-box{
padding :13px 13px;
  background-color:#fff;
  width: 400px;
  position: absolute;
  top: 70%;
  left: 50%;

  transform: translate(-50%,-50%);
  color: white;
border-radius: 50px;
box-shadow:  0px 0px 8px 0px #ddd;
}
.reg-box h1{
transition: all 250ms ease-in-out ;
  float: left;
color:#ff6700;
  margin-left:10px;
  font-size: 40px;
  text-shadow: 1px 1px 8px #aaa;
  margin-bottom: 50px;
  padding: 13px 0;

}
.reg-box h1:hover{
text-shadow: 0px 0px 0px  #000;
}
.textbox1{
box-shadow:  0px 0px 8px 0px #aaa;
  border-radius: 20px;
  width: 97%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 8px;
  margin: 8px ;
  border: 1px solid #ff6700;
  transition: all 250ms ease-in-out ;
}
.textbox1 i{
  width: 26px;
  color : #ff6700;
  float: left;
border-right: 1px solid #ff6700;

}
.textbox1 input{
  border: none;
  outline: none;
  background: none;
  color: #444;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.btn1{
  width: 30%;
  display: block;
  background: none;
  border: 1px solid #ff6700;
  color: #ff6700;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: auto;
  position: relative;
  text-transform: uppercase;
box-shadow:  0px 0px 8px 0px #000;
transition: all 0.5s ease-in-out;
border-radius: 20px;
}

.btn1:hover {
color : #eee;

background-color : #ff6700;
box-shadow:  0px 0px 0px  #000;
}
